
.emotion {
    background: url('/images/smiles/emotionsV2.png') no-repeat top left;
    width: 38px;
    height: 38px;
    display: inline-block;
    overflow: hidden;
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    margin: -5px;
    margin-left: -6px;
    margin-top: -6px;
} 

.emotion.access { background-position: 0 0; } 
.emotion.actions { background-position: -48px 0; } 
.emotion.angel { background-position: -96px 0; } 
.emotion.anger { background-position: -144px 0; } 
.emotion.angry { background-position: -192px 0; } 
.emotion.bandit { background-position: -240px 0; } 
.emotion.beer { background-position: -288px 0; } 
.emotion.bell { background-position: -336px 0; } 
.emotion.bertlett { background-position: -384px 0; } 
.emotion.bhangra { background-position: -432px 0; } 
.emotion.bike { background-position: -480px 0; } 
.emotion.bing { background-position: -528px 0; } 
.emotion.blush { background-position: -576px 0; } 
.emotion.bollylove { background-position: -624px 0; } 
.emotion.bomb { background-position: -672px 0; } 
.emotion.bow { background-position: -720px 0; } 
.emotion.bowled { background-position: -768px 0; } 
.emotion.brb { background-position: -816px 0; } 
.emotion.brokenheart { background-position: -864px 0; } 
.emotion.bug { background-position: -912px 0; } 
.emotion.cake { background-position: -960px 0; } 
.emotion.call { background-position: -1008px 0; } 
.emotion.camera { background-position: -1056px 0; } 
.emotion.canyoutalk { background-position: -1104px 0; } 
.emotion.car { background-position: -1152px 0; } 
.emotion.cash { background-position: -1200px 0; } 
.emotion.cat { background-position: -1248px 0; } 
.emotion.chai { background-position: -1296px 0; } 
.emotion.champagne { background-position: -1344px 0; } 
.emotion.chappal { background-position: -1392px 0; } 
.emotion.cheese { background-position: -1440px 0; } 
.emotion.clapping { background-position: -1488px 0; } 
.emotion.coffee { background-position: -1536px 0; } 
.emotion.computer { background-position: -1584px 0; } 
.emotion.computerrage { background-position: -1632px 0; } 
.emotion.confidential { background-position: -1680px 0; } 
.emotion.cool { background-position: -1728px 0; } 
.emotion.coutinho10 { background-position: -1776px 0; } 
.emotion.crying { background-position: -1824px 0; } 
.emotion.cwl { background-position: -1872px 0; } 
.emotion.dance { background-position: -1920px 0; } 
.emotion.devil { background-position: -1968px 0; } 
.emotion.dhakkan { background-position: -2016px 0; } 
.emotion.discodancer { background-position: -2064px 0; } 
.emotion.disgust { background-position: -2112px 0; } 
.emotion.diya { background-position: -2160px 0; } 
.emotion.dog { background-position: -2208px 0; } 
.emotion.doh { background-position: -2256px 0; } 
.emotion.donkey { background-position: -2304px 0; } 
.emotion.donttalktome { background-position: -2352px 0; } 
.emotion.drink { background-position: -2400px 0; } 
.emotion.drunk { background-position: -2448px 0; } 
.emotion.dull { background-position: -2496px 0; } 
.emotion.evilgrin { background-position: -2544px 0; } 
.emotion.emo { background-position: -2592px 0; } 
.emotion.envy { background-position: -2640px 0; } 
.emotion.excel { background-position: -2688px 0; } 
.emotion.facepalm { background-position: -2736px 0; } 
.emotion.fear { background-position: -2784px 0; } 
.emotion.festiveparty { background-position: -2832px 0; } 
.emotion.middlefinger { background-position: -2880px 0; } 
.emotion.fingerscrossed { background-position: -2928px 0; } 
.emotion.flower { background-position: -2976px 0; } 
.emotion.footballfail { background-position: -3024px 0; } 
.emotion.games { background-position: -3072px 0; } 
.emotion.ghost { background-position: -3120px 0; } 
.emotion.gift { background-position: -3168px 0; } 
.emotion.giggle { background-position: -3216px 0; } 
.emotion.golmaal { background-position: -3264px 0; } 
.emotion.goodluck { background-position: -3312px 0; } 
.emotion.gottarun { background-position: -3360px 0; } 
.emotion.handshake { background-position: -3408px 0; } 
.emotion.handsinair { background-position: -3456px 0; } 
.emotion.hanukkah { background-position: -3504px 0; } 
.emotion.happy { background-position: -3552px 0; } 
.emotion.headbang { background-position: -3600px 0; } 
.emotion.headphones { background-position: -3648px 0; } 
.emotion.heart { background-position: -3696px 0; } 
.emotion.heidy { background-position: -3744px 0; } 
.emotion.henderson14 { background-position: -3792px 0; } 
.emotion.hi { background-position: -3840px 0; } 
.emotion.highfive { background-position: -3888px 0; } 
.emotion.holdon { background-position: -3936px 0; } 
.emotion.holidayspirit { background-position: -3984px 0; } 
.emotion.bear { background-position: -4032px 0; } 
.emotion.hungover { background-position: -4080px 0; } 
.emotion.idea { background-position: -4128px 0; } 
.emotion.inlove { background-position: -4176px 0; } 
.emotion.internetexplorer { background-position: -4224px 0; } 
.emotion.island { background-position: -4272px 0; } 
.emotion.joy { background-position: -4320px 0; } 
.emotion.kaanpakadna { background-position: -4368px 0; } 
.emotion.key { background-position: -4416px 0; } 
.emotion.kiss { background-position: -4464px 0; } 
.emotion.klopp { background-position: -4512px 0; } 
.emotion.kya { background-position: -4560px 0; } 
.emotion.laddu { background-position: -4608px 0; } 
.emotion.ladyvampire { background-position: -4656px 0; } 
.emotion.lalala { background-position: -4704px 0; } 
.emotion.bigsmile { background-position: -4752px 0; } 
.emotion.learn { background-position: -4800px 0; } 
.emotion.letsmeet { background-position: -4848px 0; } 
.emotion.lfcclap { background-position: -4896px 0; } 
.emotion.lfcfacepalm { background-position: -4944px 0; } 
.emotion.lfclaugh { background-position: -4992px 0; } 
.emotion.lfcparty { background-position: -5040px 0; } 
.emotion.lfcworried { background-position: -5088px 0; } 
.emotion.lips { background-position: -5136px 0; } 
.emotion.lipssealed { background-position: -5184px 0; } 
.emotion.listening { background-position: -5232px 0; } 
.emotion.mail { background-position: -5280px 0; } 
.emotion.makeup { background-position: -5328px 0; } 
.emotion.man { background-position: -5376px 0; } 
.emotion.microsoft { background-position: -5424px 0; } 
.emotion.mlt { background-position: -5472px 0; } 
.emotion.mmm { background-position: -5520px 0; } 
.emotion.monkey { background-position: -5568px 0; } 
.emotion.mooning { background-position: -5616px 0; } 
.emotion.movember { background-position: -5664px 0; } 
.emotion.movie { background-position: -5712px 0; } 
.emotion.muscle { background-position: -5760px 0; } 
.emotion.muscleman { background-position: -5808px 0; } 
.emotion.nahi { background-position: -5856px 0; } 
.emotion.naturescall { background-position: -5904px 0; } 
.emotion.nazar { background-position: -5952px 0; } 
.emotion.neil { background-position: -6000px 0; } 
.emotion.nerd { background-position: -6048px 0; } 
.emotion.ninja { background-position: -6096px 0; } 
.emotion.no { background-position: -6144px 0; } 
.emotion.nod { background-position: -6192px 0; } 
.emotion.oliver { background-position: -6240px 0; } 
.emotion.onedrive { background-position: -6288px 0; } 
.emotion.onenote { background-position: -6336px 0; } 
.emotion.outlook { background-position: -6384px 0; } 
.emotion.oye { background-position: -6432px 0; } 
.emotion.party { background-position: -6480px 0; } 
.emotion.penguin { background-position: -6528px 0; } 
.emotion.phone { background-position: -6576px 0; } 
.emotion.pizza { background-position: -6624px 0; } 
.emotion.plane { background-position: -6672px 0; } 
.emotion.poke { background-position: -6720px 0; } 
.emotion.polarbear { background-position: -6768px 0; } 
.emotion.poolparty { background-position: -6816px 0; } 
.emotion.poop { background-position: -6864px 0; } 
.emotion.powerpoint { background-position: -6912px 0; } 
.emotion.priidu { background-position: -6960px 0; } 
.emotion.promise { background-position: -7008px 0; } 
.emotion.publisher { background-position: -7056px 0; } 
.emotion.puke { background-position: -7104px 0; } 
.emotion.pullshot { background-position: -7152px 0; } 
.emotion.pumpkin { background-position: -7200px 0; } 
.emotion.punch { background-position: -7248px 0; } 
.emotion.rain { background-position: -7296px 0; } 
.emotion.rainbow { background-position: -7344px 0; } 
.emotion.reindeer { background-position: -7392px 0; } 
.emotion.rickshaw { background-position: -7440px 0; } 
.emotion.rock { background-position: -7488px 0; } 
.emotion.rofl { background-position: -7536px 0; } 
.emotion.sadsmile { background-position: -7584px 0; } 
.emotion.sadness { background-position: -7632px 0; } 
.emotion.santa { background-position: -7680px 0; } 
.emotion.santamooning { background-position: -7728px 0; } 
.emotion.sarcastic { background-position: -7776px 0; } 
.emotion.shake { background-position: -7824px 0; } 
.emotion.sharepoint { background-position: -7872px 0; } 
.emotion.sheep { background-position: -7920px 0; } 
.emotion.shivering { background-position: -7968px 0; } 
.emotion.shopping { background-position: -8016px 0; } 
.emotion.skipping { background-position: -8064px 0; } 
.emotion.skull { background-position: -8112px 0; } 
.emotion.skype { background-position: -8160px 0; } 
.emotion.skypebiz { background-position: -8208px 0; } 
.emotion.slap { background-position: -8256px 0; } 
.emotion.sleepy { background-position: -8304px 0; } 
.emotion.smile { background-position: -8352px 0; } 
.emotion.smirk { background-position: -8400px 0; } 
.emotion.smoke { background-position: -8448px 0; } 
.emotion.snail { background-position: -8496px 0; } 
.emotion.snowangel { background-position: -8544px 0; } 
.emotion.speechless { background-position: -8592px 0; } 
.emotion.star { background-position: -8640px 0; } 
.emotion.stop { background-position: -8688px 0; } 
.emotion.sturridge15 { background-position: -8736px 0; } 
.emotion.sun { background-position: -8784px 0; } 
.emotion.surprised { background-position: -8832px 0; } 
.emotion.suryannamaskar { background-position: -8880px 0; } 
.emotion.swear { background-position: -8928px 0; } 
.emotion.sweating { background-position: -8976px 0; } 
.emotion.talking { background-position: -9024px 0; } 
.emotion.talktothehand { background-position: -9072px 0; } 
.emotion.tandoorichicken { background-position: -9120px 0; } 
.emotion.taur { background-position: -9168px 0; } 
.emotion.thinking { background-position: -9216px 0; } 
.emotion.time { background-position: -9264px 0; } 
.emotion.tmi { background-position: -9312px 0; } 
.emotion.toivo { background-position: -9360px 0; } 
.emotion.tongueout { background-position: -9408px 0; } 
.emotion.tubelight { background-position: -9456px 0; } 
.emotion.tumbleweed { background-position: -9504px 0; } 
.emotion.turkey { background-position: -9552px 0; } 
.emotion.umbrella { background-position: -9600px 0; } 
.emotion.vampire { background-position: -9648px 0; } 
.emotion.victory { background-position: -9696px 0; } 
.emotion.wait { background-position: -9744px 0; } 
.emotion.waiting { background-position: -9792px 0; } 
.emotion.itwasntme { background-position: -9840px 0; } 
.emotion.wfh { background-position: -9888px 0; } 
.emotion.whatsgoingon { background-position: -9936px 0; } 
.emotion.whew { background-position: -9984px 0; } 
.emotion.whistle { background-position: -10032px 0; } 
.emotion.win10 { background-position: -10080px 0; } 
.emotion.wink { background-position: -10128px 0; } 
.emotion.woman { background-position: -10176px 0; } 
.emotion.wondering { background-position: -10224px 0; } 
.emotion.word { background-position: -10272px 0; } 
.emotion.worried { background-position: -10320px 0; } 
.emotion.wtf { background-position: -10368px 0; } 
.emotion.xbox { background-position: -10416px 0; } 
.emotion.xmastree { background-position: -10464px 0; } 
.emotion.yawn { background-position: -10512px 0; } 
.emotion.yes { background-position: -10560px 0; } 
.emotion.yoga { background-position: -10608px 0; } 
.emotion.yotm { background-position: -10656px 0; } 
.emotion.zombie { background-position: -10704px 0; } 
.emotion.music { background-position: -10752px 0; } 
.emotion.fubar { background-position: -10800px 0; } 
